@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');

body {
  background-image: linear-gradient(#ccccff, #ffffff);
  background-repeat: no;
  color: #000099;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Roboto;
  overflow-y: hidden;
}

h1 {
  background-image: radial-gradient(#ffffff, #ffff99);
  border-bottom: 2px #000099 solid;
  font-size: 4vw;
  letter-spacing: 1vw;
  margin-bottom: 2vw;
  margin-top: 0vw;
  padding: 1vw;
}

h2 {
  font-size: 2vw;
}

h6 {
  font-size: 1vw;
  margin-bottom: -0.25vw;
}

.user-input-box {
  background-color: #fff;
  border: 2px solid red;
  font-size: 4vw;
  height: 20vw;
  margin-left: 40vw;
  margin-top: 3vw;
  position: absolute;
  width: 20vw;
  z-index: 100;
}

.player-box {
  border: 1px black solid;
  margin-bottom: 0.5vw;
  width: 16vw;
}

.start-game-btn {
  background-color: #000099;
  border: 1px solid #000099;
  border-radius: 0.25vw;
  color: #fff;
  margin-top: 3vw;
}

.player-fonts {
  font-size: 1vw;
}

.messages-board-scoreboard-container {
  display: flex;
}

.messages-container {
  flex: 1.9;
}

.winner-background {
  background-image: radial-gradient(#fff, #ff6600);
  border: #ff6600;
  border-radius: 1.5vw;
  margin: 2vw;
  padding: 2vw;
}

.game-btn {
  background-color: #000099;
  border-radius: 5px;
  border-color: #000099;
  color: white;
  display: block;
  font-size: 1.5vw;
  margin: 2vw auto 0 auto;
  padding: 0.5vw;
}

.game-btn:hover {
  background-color: #ccccff;
}

.board-container {
  border: #b3b3ff solid 3px;
  background-color: black;
  border-radius: 3vw;
  display: flex;
  flex: 2.3;
  overflow-y: hidden;
}

.scoreboard-container {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.inner-scoreboard-containers {
  flex: 1;
  padding-top: 3vw;
}

.column {
  background-color: #000099;
  flex: 1;
  padding: 1%;
}

.game-over-column {
  background-color: #000;
  flex: 1;
  padding: 1%;
}

.column:hover {
  background-color: gray;
}

.white-circle {
  background-color: white;
  border-radius: 2vw;
  border: 1px solid #000099;
  height: 4vw;
  margin: 0.3vw auto;
  width: 4vw;
}

.red-gamepiece {
  background-color: red;
  border-radius: 2vw;
  border: 1px solid red;
  height: 4vw;
  margin: 0.3vw auto;
  width: 4vw;
}

.yellow-gamepiece {
  background-color: yellow;
  border-radius: 2vw;
  border: 1px solid yellow;
  height: 4vw;
  margin: 0.3vw auto;
  width: 4vw;
}

.red-gamepiece-winner {
  background-color: red;
  border-radius: 2vw;
  border: 1px solid red;
  box-shadow: 0 0 0 0.20vw #00ff00;
  height: 3.95vw;
  margin: 0.3vw auto;
  width: 3.95vw;
}

.yellow-gamepiece-winner {
  background-color: yellow;
  border-radius: 2vw;
  border: 1px solid yellow;
  box-shadow: 0 0 0 0.20vw #00ff00;
  height: 3.8vw;
  margin: 0.3vw auto;
  width: 3.8vw;
}

.red-gamepiece-active {
  background-color: red;
  border-radius: 2vw;
  border: 1px solid red;
  box-shadow: 0 0 0 0.5vw #00ff00;
  height: 4vw;
  margin: 0.3vw auto;
  width: 4vw;
}

.yellow-gamepiece-active {
  background-color: yellow;
  border-radius: 2vw;
  border: 1px solid yellow;
  box-shadow: 0 0 0 0.5vw #00ff00;
  height: 4vw;
  margin: 0.3vw auto;
  width: 4vw;
}

.link {
  color: red;
  text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Media Queries*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Portrait iPhone 5 or smaller */
@media only screen and (max-device-width: 480px)
and (orientation: portrait) {

    h1 {
      font-size: 9vw;
      padding-top: 5vw;
      padding-bottom: 5vw;
    }

    h2 {
      font-size: 2.6vw;
    }

    h6 {
      font-size: 2vw;
    }

    .player-fonts {
      font-size: 2vw;
    }

    .user-input-box {
      height: 50vw;
      margin-left: 25vw;
      width: 50vw;
    }

    .player-box {
      width: 40vw;
    }

    .messages-board-scoreboard-container {
      display: flex;
      flex-direction: column;
      margin-left: 5vw;
      margin-right: 5vw;
    }

    .messages-container {
      flex: 2;
      margin: 0 20vw;
      order: 3;
    }

    .board-container {
      border: #b3b3ff solid 3px;
      border-radius: 3vw;
      display: flex;
      flex: 5;
      order: 1;
    }

    .game-btn {
      font-size: 3vw;
    }

    .scoreboard-container {
      display: flex;
      flex-direction: row;
      flex: 3;
      order: 2;
      padding: 1vw;
    }

    .white-circle {
      border-radius: 5vw;
      height: 10vw;
      margin: 0.2vw auto;
      width: 10vw;
    }

    .yellow-gamepiece {
      border-radius: 5vw;
      height: 10vw;
      margin: 0.2vw auto;
      width: 10vw;
    }

    .red-gamepiece {
      border-radius: 5vw;
      height: 10vw;
      margin: 0.2vw auto;
      width: 10vw;
    }

    .yellow-gamepiece-active {
      border-radius: 5vw;
      box-shadow: 0 0 0 1.5vw #00ff00;
      height: 10vw;
      width: 10vw;
    }

    .red-gamepiece-active {
      border-radius: 5vw;
      box-shadow: 0 0 0 1.5vw #00ff00;
      height: 10vw;
      width: 10vw;
    }

    .yellow-gamepiece-winner {
      border-radius: 4.9vw;
      box-shadow: 0 0 0 0.3vw #00ff00;
      height: 9.8vw;
      width: 9.8vw;
    }

    .red-gamepiece-winner {
      border-radius: 4.9vw;
      box-shadow: 0 0 0 0.3vw #00ff00;
      height: 9.8vw;
      width: 9.8vw;
    }
}

@media only screen and (max-device-width: 480px)
and (orientation: landscape) {
  h1 {
    color: white;
  }
}
